@import "./fonts/OpenSans/opensans.css";
@import "./fonts/Montserrat/montserrat.css";
@import "./styles/normalize";
@import "./styles/all";

html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: "Montserrat";
    
    background: url("./img/app/background.jpg");
    background-repeat: repeat;
}